.pagination,
.pagination .screen                     { position: relative; }
.pagination .screen .page.hidden        { display: none; }
.pagination .screen .page .item         { }   /* on your own */
.pagination .screen .page .item.seleted { }   /* on your own */
.pagination .screen .page .item.pointed { }   /* on your own */

.pagination.when-overlay     { min-height: 300px; _height: auto !important; _height: 300px; }
.pagination .overlay         { display: none; position: absolute; width: 100%; height: 100%; left: 0px; top: 0px; }
.pagination .overlay.loading { display: block; background: transparent url('img/loading.gif') no-repeat center center; }
.pagination .overlay.empty   { display: block; background: transparent url('img/empty.gif')   no-repeat center center; }
.pagination .overlay.error   { display: block; background: transparent url('img/error.gif')   no-repeat center center; }

.pagination .slider          { position: absolute; width: 23px; height: 100%; top: 0px;  right: -15px; display: none; }
.pagination .slider .range   { position: absolute; width: 7px;  bottom: 23px; top: 23px; left: 8px; cursor: pointer; }
.pagination .slider .current { position: absolute; width: 100%; height: 100%; top: 0px;  left: 0px; cursor: move; }
.pagination .slider .bg      { position: relative; width: 100%; height: 100%; }
.pagination .slider .head    { position: absolute; width: 100%; height: 23px; left: 0px; top: -23px; }
.pagination .slider .tail    { position: absolute; width: 100%; height: 23px; left: 0px; bottom: -23px; }
.pagination .slider .head    { -webkit-border-radius: 4px 4px 0px 0px; border-radius: 4px 4px 0px 0px; background: inherit; }
.pagination .slider .tail    { -webkit-border-radius: 0px 0px 4px 4px; border-radius: 0px 0px 4px 4px; background: inherit; }

.pagination:hover .slider .current     { background-color: #CCC; }
.pagination .slider:hover .current,
.pagination .slider .dragging .current { background-color: #808080; }
.pagination .slider:hover .bg,
.pagination .slider .dragging .bg      { background-color: #EEE; }

.pagination .slider .current .tip           { display: none; position: absolute; right: 15px; height: 20px; min-width: 30px; -webkit-border-radius: 8px 8px 8px 8px; border-radius: 8px 8px 8px 8px; }
.pagination .slider .current .tip           { color: #808080; background-color: #EEE; font-size: 12px; font-family: arial, sans-serif; text-shadow: 1px 1px 1px white; text-align: center; vertical-align: middle; }
.pagination .slider .current .head .tip     { top: -10px; }
.pagination .slider .current .tail .tip     { top: 11px; }
.pagination .slider .dragging .current .tip { display: block; }

.pagination .jumper                 { position: absolute; left: 0px; width: 100%; bottom: -60px; height: 60px; line-height: 60px; text-align: right; display: none; }
.pagination .jumper .text           { color: #555; font-family: Arial, sans-serif; font-size: 16px; text-align: center; vertical-align: middle; }
.pagination .jumper button          { line-height: 20px; padding: 6px 16px; cursor: pointer; background: #E6E6E6; border: 1px solid lightGrey; -webkit-border-radius: 4px 4px 4px 4px; border-radius: 4px 4px 4px 4px; }
.pagination .jumper button:hover    { background: #f9f9f9; }
.pagination .jumper .tip            { float: left; }
.pagination .jumper .current        { margin: 0px 16px; }
.pagination .jumper .current .read  { cursor: pointer; font-weight: bold; padding: 0px 4px;}
.pagination .jumper .current .write { display: none; width: 25px; padding: 0px; vertical-align: baseline; }


/* ie sucks begin */
.pagination                       { *zoom: 1; }
.pagination .screen               { *width: 100%; }
.pagination .overlay              { _width:  expression( this.parentNode.offsetWidth ); _height: expression( this.parentNode.offsetHeight ); }
.pagination .jumper               { _width:  expression( this.parentNode.offsetWidth ); }
.pagination .slider               { *height: expression( this.parentNode.offsetHeight ); }
.pagination .slider .range        { *height: expression( this.parentNode.offsetHeight - 46 ); }
.pagination .slider .current .tip { _padding: 0px 10px; }
.pagination .jumper               { _bottom: -75px; }
.pagination .jumper .tip          { _margin-top: -10px; }
.pagination .jumper button        { *padding: 3px 6px; }

.pagination.ie6-hover .slider .current .head,
.pagination.ie6-hover .slider .current .tail,
.pagination.ie6-hover .slider .current,
.pagination:hover .slider .current .head,
.pagination:hover .slider .current .tail,
.pagination:hover .slider .current { background-color: #CCC; }

.pagination .slider.ie6-hover .current .head,
.pagination .slider.ie6-hover .current .tail,
.pagination .slider.ie6-hover .current,
.pagination .slider:hover .current .head,
.pagination .slider:hover .current .tail,
.pagination .slider:hover .current,
.pagination .slider .dragging .current .head,
.pagination .slider .dragging .current .tail,
.pagination .slider .dragging .current { background-color: #808080; }

.pagination .slider.ie6-hover .bg .head,
.pagination .slider.ie6-hover .bg .tail,
.pagination .slider.ie6-hover .bg,
.pagination .slider:hover .bg .head,
.pagination .slider:hover .bg .tail,
.pagination .slider:hover .bg,
.pagination .slider .dragging .bg .head,
.pagination .slider .dragging .bg .tail,
.pagination .slider .dragging .bg { background-color: #EEE; }

/* ie sucks end */


